body {
  margin:0;
  padding:0;
  font: 14px Verdana, sans serif;
}
.wrapper {
  position: absolute;
  z-index: 400;
  background: #f2f2f2;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 10px;
}
#map {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
#about {
    position: absolute;
    z-index: 400;
    top: 10px;
    right: 170px;
    background: #f2f2f2;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}
#about1 {
  width: 90%;
  height: 90%;
}
#basemaps-wrapper {
  top: 10px;
  right: 10px;
}
#basemaps {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
}
#toggle-wrapper {
  bottom: 15px;
  right: 10px;
  padding: 20px;
}
#legend {
  bottom: 10px;
  left: 10px;
  padding: 20px;
}
#drop {
  top: 10px;
  left: 5px;
  border: none;
  padding: 0px;
}
/* this code styles collapsable menus */
#panel {
  position: absolute;
  position: absolute;
  text-align: center;
  z-index: 400;
  background: #f2f2f2;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 10px;
  width:210px;
  height:250px;
  padding: 20px;
  top: 118px;
  left: 10px;
}
#collapsable {
  position: absolute;
  text-align: center;
  font: 14px Verdana, sans serif;
  z-index: 400;
  background: #f2f2f2;
  padding: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 10px;
  height: 40px;
  top: 80px;
  left: 10px;
}
#list {
  top:30px;
  left: 5px;
  height: 240px;
  width: 225px;
  padding: 5px;
  background-color: white;
  border-radius: 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  z-index: 400;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    position: absolute;
    z-index: 400;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  position: absolute;
  z-index: 400;
  background: #f2f2f2;
  width: 160px;
  display: none;
}
